.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0; /* Light background color for the app */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.header {
  background-color: #282c34; /* Dark background for header */
  color: white;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #282c34; /* Dark background for footer */
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}



